imponibile -> financedNetAmount
importo finanziato -> financedAmount
campagna/tabella & soglia VR is missing


Per ora si gestisce un solo contratto, 
se no bisogna rivedere tutta la pratica.


1 - reasons di pace (v)
2 - flip Card (v)
3 - implementazione dei domini (v)
4 - soggetti collegati
-> aggiungere cerved ecc
-> pace e antiriclaggio
-> get note da composite service
5 - delibera (v)
6 - note e commenti
7 - valutazione fornitore


PIPE su tipo pratica -> LK_OPERATION_TYPE

in caso di KO non si torna in worklist


!! NOTECODE e NOTETYPE in AFU

per delibera passare tutto


Salva nella delibera è solo intermedio, 
bisogna mandare sempre la nota.



workstation con esito come pagina, 
nell init prendo i query params e lancio il servizio

si aggiunge una workstation nella login iniziale

1490421611 <- id workstation